.personnage1 {
  img {
    width: 400px;
  }
}

.video {
  margin-top: 40px;
}

.presentation {
  margin-top: 20px;
  margin-bottom: 40px;
  h1 {
    color: #F3C047;
    text-align: center;
    margin-bottom: 20px;
  }
  p {
    color: white;
    text-align: center;
    font-size: 18px;
  }
}

.logo-ligue {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

@media only screen and (max-width: 760px) {
  .personnage1 {
    display: flex;
    justify-content: center;
    img {
      width: 100px;
      height: 150px;
    }
  }
  .video {
    margin-left: 25px;
    margin-top: 0;
  video {
    width: 300px;
    height: 300px;
    }
  }
}

// ipadV1
@media only screen and (width: 768px) and (height: 1024px) {
  .personnage1 {
    margin-top: 35px;
    img {
      width: 100px;
      height: 150px;
    }
  }
  .video {
    display: block;
    width: 200px;
    margin-top: 0;
    video {
      width: 200px;
      height: 200px;
    }
  }
}

//ipadV2
@media only screen and (width: 1024px) and (height: 768px) {
  .personnage1 img {
    width: 200px;
  }
  .video {
    position: relative;
    right: 290px;
  }
}

//Ipad proV1
@media only screen and (width: 1024px) and (height: 1366px) {
  .personnage1 img {
    width: 190px;
  }
  .video {
    position: relative;
    right: 300px;
  }
  .presentation {
    margin-bottom: 270px;
  }
}
