.personnage1 {
  img {
    width: 400px;
  }
}

.presentation {
  h1 {
    color: #F3C047;
    text-align: center;
    margin-bottom: 20px;
  }
  p {
    color: #FFFFFF;
    text-align: justify;
    font-size: 18px;
  }
}

.latest-articles {
  margin-top: 25px;
  h3 {
    color: #F3C047;
  }
}
