.titre-parents {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #F3C047;
}

.book {
  margin-bottom: 95px;
  img {
    width: 300px;
  }
}

.book-presentation {
  text-align: justify;
  p {
    color: white;
    font-size: 18px;
  }
}

.titre-video {
  color: #F3C047;
  display: flex;
  justify-content: center;
}

.video-parent {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 70px;
}

.facts-title {
  color: #F3C047;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.facts-text {
  text-align: center;
  margin-bottom: 40px;
  p {
    color: white;
    font-size: 18px;
  }
}

.video-facts {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 70px;
}

.extrait-titre {
  color: #F3C047;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.extrait-text {
  text-align: center;
  p {
    color: white;
    font-size: 18px;
  }
}

@media screen and (max-width: 760px) {
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  .book {
    margin-left: 75px;
    img {
      width: 200px;
    }
  }
  .video-parent video {
    width: 350px;
  }
  .video-facts video {
    width: 350px;
  }
}
