<div class="container">

  <div style="display: flex; justify-content: center; color: #F3C047; margin-top: 20px;">
    <h1>Modifier l'article</h1>
  </div>

  <div class="back-button">
  <%= link_to 'Retour', articles_path %>
  </div>

  <%= render 'form' %>
</div>


