<h1>Listing all articles</h1>

<%= link_to "Create new article", new_article_path %>

<% @articles.each do |article| %>
  <%=link_to article_path(article), class: "" do %>
    <p><%= article.title%></p>
  <% end %>
 <% end %>

