<div class="container">
  <div class="article-h">
    <h1>Nos articles</h1>
  </div>

  <% @articles.each do |article| %>
    <%=link_to article_path(article), class: "articles-link" do %>
      <div class="article-box">
        <div class="col">
          <div class="box-text1 row">
            <h3><%= article.title %></h3>
          </div>
          <div class="box-text2 row">
            <p><%= article.description %></p>
          </div>
        </div>
      </div>
    <% end %>
   <% end %>

  <div class="mypagination">
    <%= will_paginate %>
  </div>

</div>


