<div class="container">
  <div class="create-title">
    <h1>Create an article</h1>
  </div>

  <div class="back-button">
    <%= link_to 'Retour', articles_path %>
  </div>

  <%= render 'form' %>
</div>



