<div class="container">
  <div class="article-title row">
    <h1><%= @article.title %></h1>
  </div>

  <div class="row">
    <div class="description col-sm-8">
      <p><%= @article.description %></p>
    </div>
    <div class="personnage2 col-sm-4">
      <%= image_tag "perso2.png"%>
    </div>
  </div>

  <div class="document row">
    <%= image_tag "perso2.png"%>
  </div>

</div>

