<div class="footer">
  <div class="row">
    <div class="contact">
      <p>Contact</p>
    </div>
    <div class="rights">
      <p>© Copyright 2020 petitsportif. All rights reserved</p>
    </div>
  </div>
</div>
