<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="logo">
    <p>Petit</p>
    <div style="position: relative; top: -25px; left: 40px;">
      <p>Sportif.com</p>
    </div>
  </div>

  <%= link_to "Accueil", "/" %>
  <%= link_to "Articles", articles_path %>
  <%= link_to 'Espace parents', parents_path %>
</div>
