<div class="container">
  <div class="row" style="margin-top: 60px;">
    <div class="personnage1 col-sm-6">
     <%= cl_image_tag("perso1_zfgp99.png", :height=>450, :width=>400, :crop=>"scale") %>
    </div>
    <div class="video col-sm-6">
      <%= cl_video_tag("intromovie_ily8eh", :height=>400, :quality=>"auto", :width=>600, :crop=>"scale", :controls => true)  %>
    </div>
  </div>

  <div class="presentation">
    <h1>Être plus fort...</h1>
    <p>Un sportif s’entraîne, travaille pratiquement tous les jours, avec toujours en ligne de mire cet objectif qu’il veut atteindre. <br>
    Mais il y a des moments où tout ne se passe pas comme prévu: un événement vient contrarier la belle trajectoire que nous nous sommes tracé. Un geste qui ne passe pas bien, une progression qui ralentit, une blessure qui immobilise pendant un certain temps..
    <br><br>
    Ou un confinement….
    <br><br>
    Nous pouvons regarder ça comme un frein dans notre sport, une malchance. Nous pouvons trouver beaucoup de raisons de râler, de ne pas être contents. <br>
    Cependant nous pouvons aussi ressortir de cette situation plus forts. <br>
    C’est ce que nous allons vous proposer sur ce site. <br>
    Finalement, nous avons l’opportunité de pouvoir nous centrer sur les pans de notre activité que nous laissions de côté car nous « n’avions pas le temps ». <br>
    Faisons de nos arrêts une chance pour devenir meilleurs, dans nos corps comme dans nos têtes.
    </p>
  </div>

  <div class="logo-ligue">
    <%= image_tag "LogoLigue.png"%>
  </div>

</div>



