<div class="container">
  <div class="row" style="margin-top: 60px;">
    <div class="personnage1 col-sm-6">
      <%= image_tag "perso1.png"%>
    </div>
    <div class="col-sm-6">
      <h1 style="color: #F3C047; text-align: center;">title Example title Example title Example</h1>
      <p style="color: #FFFFFF; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Rutrum pulvinar nisl, volutpat nibh dictum tellus neque. Viverra faucibus mi, sapien in ultricies. Duis magna at arcu, et aliquet ullamcorper varius. Consequat, ipsum nibh magna suspendisse. Amet, tempor elementum euismod consequat mi justo, massa. <br><br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Rutrum pulvinar nisl, volutpat nibh dictum tellus neque. Viverra faucibus mi, sapien in ultricies. Duis magna at arcu, et aliquet ullamcorper varius. Consequat, ipsum nibh magna suspendisse. Amet, tempor elementum euismod consequat mi justo, massa.
      </p>
    </div>
  </div>

</div>



