<div class="container">

  <div class="titre-parents">
    <h1>Pour les parents!</h1>
  </div>

  <div class="row">
    <div class="book col-sm-6">
      <a target="_blank" href="https://ed-amphora.fr/produit/enseignement-entrainement/mon-enfant-fait-de-la-competition/">
        <%= image_tag("book.png", :alt => "book") %>
      </a>
    </div>
    <div class="book-presentation col-sm-6">
      <p>"Mon enfant fait de la compétition"<br>
      À la lecture du bouquin de Frédéric Beltran vous retrouverez des situations concrètes et familières. <br>
      Être parent d'un enfant sportif et compétiteur comporte son lot de plaisirs et de situations difficiles à gérer. <br>
      Ce livre vous donnera des repères précis et vous permettra de mieux appréhender votre rôle si important pour la progression de votre enfant. <br>
      Frédéric propose des outils simples, efficaces et directement transférables dans vos vies. <br>
      Bonne lecture et n'hésitez pas à le contacter pour toutes informations. <br>
      Philippe Lopez-Ménard
      </p>
    </div>
  </div>

  <div class="titre-video">
    <h3>Presentation du livre:</h3>
  </div>

  <div class="video-parent row">
    <%= cl_video_tag("petitsportif/pr%C3%A9sentation_LIVRE_FB_LD_t2cor2", :width=>600, :crop=>"scale", :controls => true) %>
  </div>

  <div class="extrait-titre">
    <h3>Extrait de « mon enfant fait de la compétition »:</h3>
  </div>

  <div class="extrait-text row">
    <p>« ….  Se parler, c’est d’abord regarder. Savoir « se parler » est donc « savoir regarder ». Attention, voici une évidence : pour éviter de juger tout le temps, il faut apprendre le... non jugement ! <br>
    Mais avant de l’apprendre et de pouvoir l’appliquer, il faut reconnaître le moment où l’on juge. On revient encore et toujours sur la connaissance de soi. C’est à se demander si ce n’est pas le fil conducteur de ce livre ! <br>
    Qu’est-ce que le non-jugement ? C’est tout simplement énoncer les faits. <br>
    Les faits, les faits, les faits. Comme le font ou le faisaient les journalistes (les vrais). On ne juge pas quand on décrit les faits.
    <br><br>
    Cela semble assez simple, mais ce n’est pas ce que l’on fait de manière spontanée. D’où ce besoin d’y porter notre attention, et de s’entraîner. Ceci est valable d’ailleurs dans notre contexte sportif et est transposable avec beaucoup d’intérêts dans la vie de tous les jours. Sans jugement, les conflits et les disputes deviennent plus rares.
    <br><br>
    Prenons un exemple simple, voici la phrase spontanée, pleine de jugement : <br>
    « Tu as fait ton parcours comme si tu étais en promenade ! » <br>
    qui peut devenir, juste en observant et énonçant les faits : <br>
    « Tu as bouclé le parcours en 2 minutes et 34 secondes. » <br>
    La règle est simple, non ? On oublie les « lent, rapide, démotivé, nul, pas bon, trop loin, trop peu, pas assez de, etc. » On s’en tient aux faits.
    ….»</p>
  </div>

</div>

