<div class="container">

  <div class="attente">
    <h1>Pour les parents!</h1>
  </div>

  <div class="row">
    <div class="book col-sm-6">

    </div>
    <div class="book-presentation col-sm-6">
      <p>"Mon enfant fait de la compétition"<br>
      À la lecture du bouquin de Frédéric Beltran vous retrouverez des situations concrètes et familières. <br>
      Être parent d'un enfant sportif et compétiteur comporte son lot de plaisirs et de situations difficiles à gérer. <br>
      Ce livre vous donnera des repères précis et vous permettra de mieux appréhender votre rôle si important pour la progression de votre enfant. <br>
      Frédéric propose des outils simples, efficaces et directement transférables dans vos vies. <br>
      Bonne lecture et n'hésitez pas à le contacter pour toutes informations. <br>
      Philippe Lopez-Ménard
      </p>
    </div>
  </div>

</div>

