.footer {
  background-color: #0C59A8;
  margin-top: 40px;
  p {
    padding: 10px;
    color: black;
  }
}

.contact {
  margin-left: 20px;
}

.rights {
  margin-left: auto;
  margin-right: 20px;
}

@media only screen and (max-width: 768px) {
  .rights {
    display: none;
  }
}
