.myform {
  margin-top: 40px;
}

.submit-button {
  background-color: #F3C047;
  width: 120px;
  border-radius: 7px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 330px;
}

abbr {
  text-decoration: none !important;
}

#article_description {
  height: 150px;
}
