.mynavbar {
  background-color: #0C59A8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  height: 55px;
  padding-left: 30px;
  a {
    color: #FFFFFF;
  }
  a:hover {
    text-decoration: none;
    color: #D9D9D9;
  }
}

.logo {
  width: 160px;
  p {
    font-family: 'Permanent Marker';
    font-size: 20px;
    color: #FFFFFF;
  }
}

.menu-right {
  background-color: red;
  position: absolute;
  right: 120px;
  display: flex;
  justify-content: space-between;
  height: 55px;
  width: 300px;
  padding-top: 15px;

}
