.edit-button {
  background-color: #004285;
  padding: 7px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: 20px;
  a {
    color: white;
  }
  &:hover {
    a {
      text-decoration: none;
    }
  }
}

.delete-button {
  background-color: #E50C0C;
  padding: 7px;
  border-radius: 5px;
  margin-right: 20px;
  a {
    color: white;
  }
  &:hover {
    a {
      text-decoration: none;
    }
  }
}

.article-title {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 40px;
  color: #F3C047;
}

.description {
  text-align: left;
  color: white;
  font-size: 18px;
}

textarea {
  background-color: #1563B2;
  color: white;
  resize: none;
  outline: none;
  border: none;
  text-align: justify;
}

.personnage2 {
  margin-bottom: 25px;
  img {
    width: 400px;
  }
}

.picture1 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

// input[type=checkbox] {
//   display: none;
// }

// .picture1 img {
//   margin: 100px;
//   transition: transform 0.25s ease;
//   cursor: zoom-in;
// }

// input[type=checkbox]:checked ~ label > img {
//   transform: scale(2);
//   cursor: zoom-out;
// }

.video1 {
  video {
    outline: none;
  }
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

@media screen and (max-width: 760px) {
  .personnage2 {
    display: none;
  }
  .article-title {
    h1 {
      font-size: 2rem;
    }
  }
  textarea {
    width: 350px;
  }
  .picture1 {
    margin-bottom: 50px;
    img {
      width: 350px;
    }
  }
  .back-button {
    margin-left: 10px;
  }
  .video1 {
    margin-bottom: 50px;
    video {
      width: 350px;
    }
  }
}
