.edit-button {
  background-color: #004285;
  padding: 7px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: 20px;
  a {
    color: white;
  }
}

.delete-button {
  background-color: #E50C0C;
  padding: 7px;
  border-radius: 5px;
  margin-right: 20px;
  a {
    color: white;
  }
}

.article-title {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 40px;
  color: #F3C047;
}

.description {
  text-align: justify;
  color: white;
  font-size: 18px;
}

.personnage2 {
  img {
    width: 400px;
  }
}

.document {
  display: flex;
  justify-content: center;
  img {
    width: 400px;
  }
}
